[submodule "BookEngine/vendors/spdlog/spdlog"]
	path = BookEngine/vendors/spdlog/spdlog
	url = https://github.com/gabime/spdlog
[submodule "BookEngine/vendors/GLFW/include"]
	path = BookEngine/vendors/GLFW/include
	url = https://github.com/glfw/glfw
[submodule "BookEngine/vendors/glm/include"]
	path = BookEngine/vendors/glm/include
	url = https://github.com/g-truc/glm
